<p class="logo">
a(href=vars.path + "")
span xxxxxx
</p>
<header id="gheader">
<p class="logo"><a href=vars.path + ""><span>xxxxxx</span></a></p>
<div class="content">
<ul class="unav">
<li>a(href=vars.path + "") ユーティリティ01</li>
<li>a(href=vars.path + "") ユーティリティ02</li><!-- /.unav -->
</ul>
<!-- /.content -->
</div>
<!-- /#gheader ==========-->
</header>