<footer id="gfooter">
<div class="content">
<ul class="unav">
<li><a href="<%= path %>">ユーティリティ01</a></li>
<li><a href="<%= path %>">ユーティリティ02</a></li>
<li><a href="<%= path %>">ユーティリティ03</a></li>
<li><a href="<%= path %>">ユーティリティ04</a></li>
<li><a href="<%= path %>">ユーティリティ05</a></li>
<li><a href="<%= path %>">ユーティリティ06</a></li>
<!-- /.unav --></ul>
<p class="copyright"><small>Copyright&copy;<script>myDate = new Date();myYear = myDate.getFullYear();document.write(myYear);document.write("&nbsp;");</script> xxxxxxxxx All Rights Reserved.</small></p>
<!-- /.content --></div>
<!-- /#gfooter ==========--></footer>