<%
var pageName = "個別title";
var pageID = "個別ID";
var categoryID = "カテゴリID";
var pageTitle = "個別Title";
var pageDescription = "個別Description";
var path = "../";
%><!DOCTYPE html>
<html lang="ja">
<head prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">
<meta charset="utf-8">
<%- include(path + 'include/common/-meta',{path, pageTitle, pageDescription}) %>
</head>
<body>
<div id="document" class="<%= pageID %> <%= categoryID %>">
<%- include(path + 'include/common/-header',{path, pageID}) %>
<%- include(path + 'include/common/-gnav',{path, pageID, categoryID}) %>

<div id="container">


container


<!-- /#container ==========--></div>

<%- include(path + 'include/common/-footer',{path}) %>
<!-- /#document ==========--></div>
<script src="<%= path %>scripts/common/bundle.js" defer></script>
</body>
</html>
