<%
var pageName = "個別title 2";
var pageID = "個別ID";
var categoryID = "カテゴリID";
var pageTitle = "個別Title";
var pageDescription = "個別Description";
var path = "../";
%><!DOCTYPE html>
<html lang="ja">
<head prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">
<meta charset="utf-8">
<%- include(path + 'include/common/-meta',{path, pageTitle, pageDescription}) %>
</head>
<body>
<div id="document" class="<%= pageID %> <%= categoryID %>">
<%- include(path + 'include/common/-header',{path, pageID}) %>
<%- include(path + 'include/common/-gnav',{path, pageID, categoryID}) %>

<div id="container">
<nav id="breadcrumb">
<ol>
<li><a href="<%= path %>"><span>HOME</span></a></li>
<li><a href="<%= path %>"><span>breadcrumb</span></a></li>
<li><em><%= pageName %></em></li>
</ol>
<!-- /#breadcrumb --></nav>
<main>
<article id="mainContents">

main contents area

<p class="pagetop"><a href="#document">top</a></p>
<!-- /#mainContents ==========--></article>
</main>

<%- include(path + 'include/common/-subContents',{path}) %>
<!-- /#container ==========--></div>

<%- include(path + 'include/common/-footer',{path}) %>
<!-- /#document ==========--></div>
<script src="<%= path %>scripts/common/bundle.js" defer></script>
</body>
</html>
