.
<header id="gheader">
<div class="content">
<% if (pageID == 'home') { %><p class="logo"><a href="<%= path %>"><span>xxxxxx</span></a></p><% } else { %><h1 class="logo"><a href=""><span>xxxxxx</span></a></h1><% } %>
<ul class="unav">
<li><a href="<%= path %>">ユーティリティ01</a></li>
<li><a href="<%= path %>">ユーティリティ02</a></li>
<!-- /.unav --></ul>
<!-- /.content --></div>
<!-- /#gheader ==========--></header>
