@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2017/01/01
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

/*====================================================================================================

    base

====================================================================================================*/
html {}

body {
    @media screen and (min-width: $rwdBreakPoint01) {
        @include fts($lin: 24);
    }

    @media screen and (max-width: $rwdBreakPoint01 - 1) {
        @include fts(12, 20);
    }
}

#document{
    overflow: hidden;
    margin: 0 auto;

    @media screen and (min-width: $rwdBreakPoint01) {
        min-width: $contentWidth;
    }

    @media screen and (max-width: $rwdBreakPoint01 - 1) {
        min-width: $spContentWidth;
    }
}

a {
    color: $baseColorType02;
    @media screen and (min-width: $rwdBreakPoint01) {
        &[href*="tel:"]{
            text-decoration: none;
            cursor: text;
            pointer-events: none;
            img{
                cursor: default;
            }
        }
    }
    @media screen and (max-width: $rwdBreakPoint01 - 1) {
    }
}

a:hover {}


/* Header
--------------------------------------------------------------------------------------------------- */

@import "../_base/header";

/* GlobalNavigation
--------------------------------------------------------------------------------------------------- */

@import "../_base/gnav";

/* Breadcrumb
--------------------------------------------------------------------------------------------------- */

@import "../_base/breadcrumb";

/* MainContents
--------------------------------------------------------------------------------------------------- */

@import "../_base/mainContents";

/* SubContents
--------------------------------------------------------------------------------------------------- */

@import "../_base/subContents";

/* Footer
--------------------------------------------------------------------------------------------------- */

@import "../_base/footer";

