@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2017/01/01
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

// ============================================================================================
//
// footer set
//
// ============================================================================================
#gfooter{
    margin:0 auto;
    .unav{
        margin: 0;
        & > li{
            @include iblock(middle);
        }
    }
    .copyright{
        text-align: center;
    }

    @media screen and (min-width: $rwdBreakPoint01) {
        width: $contentWidth;
        .unav > li:nth-child(n+2){
            margin-left: 20px;
        }
    }

    @media screen and (max-width: $rwdBreakPoint01 - 1) {
        .unav{
            text-align: center;
            & > li{
                margin: 0 5px;
            }
        }
    }
}
