@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2017/01/01
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

// ============================================================================================
//
// main set
//
// ============================================================================================
#container{
    position: relative;
    margin: 0 auto;

    @media screen and (min-width: $rwdBreakPoint01) {
        width: $contentWidth;
    }
}

#wrapper{
    display: flex;

    @media screen and (min-width: $rwdBreakPoint01) {
        justify-content: space-between;
    }

    @media screen and (max-width: $rwdBreakPoint01 - 1) {
        flex-direction: column;
    }

    #mainContents{
        @media screen and (min-width: $rwdBreakPoint01) {
            padding-right: 30px;
        }

        @media screen and (max-width: $rwdBreakPoint01 - 1) {
        }
    }
}

#mainContents{
    @media screen and (min-width: $rwdBreakPoint01) {
    }

    @media screen and (max-width: $rwdBreakPoint01 - 1) {
    }
}

