@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2017/01/01
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

// ============================================================================================
//
// sub contents set
//
// ============================================================================================
#subContents{

    @media screen and (min-width: $rwdBreakPoint01) {
        flex-basis: 200px;
    }

    @media screen and (max-width: $rwdBreakPoint01 - 1) {
    }
}

