@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2017/10/24
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================
//@import "../_sprite/xxx";

#document.xxx{
    /*
    @media screen and (min-width: $rwdBreakPoint01) {
    }

    @media screen and (min-width: $contentWidth + 1) {
        &::before{
            right: calc(50% - 50vw);
            left: calc(50% - 50vw);
        }
    }

    @media screen and (max-width: $rwdBreakPoint01 - 1) {
    }
    */
}
