@charset "UTF-8";
/*====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////

    version: 1.0
    created: 2017/01/01
    update : -

//////////////////////////////////////////////////////////////////////////////////////////////////////
====================================================================================================*/
@font-face{
font-family:"icon";
src:url("../../fonts/icon.woff");
}

/*====================================================================================================

    format

====================================================================================================*/
html{
overflow-y:scroll;
font-size:10px;
}

body{
margin:0;
padding:0;
font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
-webkit-text-size-adjust:100%;
}

h1, h2, h3, h4, h5, h6{
font-size:100%;
}

p{
margin:0 0 1.5em;
}

ul, ol{
margin:0 0 1.5em;
padding-left:0;
letter-spacing:-.5em;
}

ul, ol{
list-style:none;
}

li{
letter-spacing:0;
}

table{
margin:0 0 1.5em;
border-spacing:0; 
border-collapse:collapse;
}

table th > *:last-child, table td > *:last-child{
margin-bottom:0 !important;
}

hr{
display:none;
}

img{
border:0;
vertical-align:middle;
}

li img{
vertical-align:middle;
}

button, input, select, textarea{
font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
font-size:1.4rem;
vertical-align:middle;
}

button, input[type="button"], input[type="submit"], input[type="reset"]{
cursor:pointer;
}

button{
display:inline;
border:none;
padding:0;
background:none;
}

button::-moz-focus-inner{
border:0; 
padding:0;
}

:placeholder-shown{
color:#cccccc;
}

::-webkit-input-placeholder{
color:#cccccc;
}

::-moz-placeholder{
color:#cccccc;
opacity:1;
}

:-ms-input-placeholder{
color:#cccccc;
}

em, address, small{
font-style:normal;
}

em{
font-weight:bold;
}

article, aside, dialog, figure, footer, header, menu, nav, section, mark, audio, video, main{
display:block;
margin:0;
border:0;
padding:0;
outline:0;
}

fieldset{
margin:0;
border:none; 
padding:0;
}

nav ul{
list-style:none;
}

/*====================================================================================================

    base

====================================================================================================*/
@media screen and (min-width: 768px){
body{
font-size:1.4rem;
line-height:1.71429;
}
}

@media screen and (max-width: 767px){
body{
font-size:1.2rem;
line-height:1.66667;
}
}

#document{
overflow:hidden;
margin:0 auto;
}
@media screen and (min-width: 768px){
#document{
min-width:1024px;
}
}
@media screen and (max-width: 767px){
#document{
min-width:320px;
}
}

a{
color:#004ba5;
}
@media screen and (min-width: 768px){
a[href*="tel:"]{
cursor:text;
text-decoration:none;
pointer-events:none;
}
a[href*="tel:"] img{
cursor:default;
}
}

/* Header
--------------------------------------------------------------------------------------------------- */
#gheader{
margin:0 auto;
}
#gheader .content{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
}
#gheader .logo{
margin:0;
}
#gheader .unav{
margin:0;
white-space:nowrap;
}
#gheader .unav > li{
display:inline-block;
vertical-align:middle;
}
#gheader .unav > li:nth-child(n+2){
margin-left:10px;
}
@media screen and (min-width: 768px){
#gheader{
width:1024px;
}
#gheader .content{
margin:0 0 10px;
}
}
@media screen and (max-width: 767px){
#gheader .content{
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
padding-right:50px;
height:50px;
}
}

/* GlobalNavigation
--------------------------------------------------------------------------------------------------- */
#gnav{
position:relative;
margin:0 auto;
}
#gnav ul{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
margin:0;
}
#gnav ul > li a{
display:block;
text-decoration:none;
}
@media screen and (min-width: 768px){
#gnav{
width:1024px;
}
#gnav .menu{
display:none;
}
#gnav ul{
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
}
#gnav ul > li{
-webkit-box-flex:1;
-ms-flex:1;
flex:1;
}
#gnav ul > li a{
text-align:center;
}
}
@media screen and (max-width: 767px){
#gnav .menu{
position:absolute;
top:-50px;
right:0;
}
#gnav ul{
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
}
#gnav ul > li{
border-bottom:1px solid currentColor;
padding:10px;
}
}

/* Breadcrumb
--------------------------------------------------------------------------------------------------- */
#breadcrumb ol{
position:relative;
margin:0;
}
#breadcrumb ol > li{
display:inline-block;
padding:10px 0;
line-height:1.2; 
vertical-align:middle;
}
#breadcrumb ol > li:nth-child(n+2)::before{
display:inline-block;
width:2em;
content:">"; 
vertical-align:middle;
text-align:center;
}
#breadcrumb ol > li em{
font-weight:normal;
}

/* MainContents
--------------------------------------------------------------------------------------------------- */
#container{
position:relative;
margin:0 auto;
}
@media screen and (min-width: 768px){
#container{
width:1024px;
}
}

#wrapper{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
}
@media screen and (min-width: 768px){
#wrapper{
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
}
}
@media screen and (max-width: 767px){
#wrapper{
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
}
}
@media screen and (min-width: 768px){
#wrapper #mainContents{
padding-right:30px;
}
}

/* SubContents
--------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 768px){
#subContents{
-ms-flex-preferred-size:200px;
flex-basis:200px;
}
}

/* Footer
--------------------------------------------------------------------------------------------------- */
#gfooter{
margin:0 auto;
}
#gfooter .unav{
margin:0;
}
#gfooter .unav > li{
display:inline-block;
vertical-align:middle;
}
#gfooter .copyright{
text-align:center;
}
@media screen and (min-width: 768px){
#gfooter{
width:1024px;
}
#gfooter .unav > li:nth-child(n+2){
margin-left:20px;
}
}
@media screen and (max-width: 767px){
#gfooter .unav{
text-align:center;
}
#gfooter .unav > li{
margin:0 5px;
}
}

/*====================================================================================================

    module

====================================================================================================*/
/* section module
--------------------------------------------------------------------------------------------------- */
.m_section{
position:relative;
padding:50px 0;
}
.m_section[class*="_border"]::before{
position:absolute;
right:0;
left:0;
z-index:-1; 
content:"";
}
.m_section[class*="_borderTop"]::before{
top:0;
border-top:1px solid;
}
.m_section[class*="_borderBottom"]::before{
bottom:0;
border-bottom:1px solid;
}
.m_section[class*="_fullBg"]::before{
position:absolute;
top:0;
right:-1000%;
bottom:0;
left:-1000%;
z-index:-1; 
content:"";
}

/* heading module
--------------------------------------------------------------------------------------------------- */
.m_textHeading{
margin:0 0 30px;
}
@media screen and (min-width: 768px){
.m_textHeading{
font-size:1.8rem;
}
}

.m_imageHeading{
margin:0 0 30px;
}
@media screen and (max-width: 767px){
.m_imageHeading img{
max-width:100%;
height:auto;
}
}

/* box module
--------------------------------------------------------------------------------------------------- */
.m_box{
margin:0 0 20px;
border:solid #ebe4d9;
border-width:1px 0;
padding:20px;
background:#eeeeee;
}
.m_box > *:last-child{
margin-bottom:0 !important;
}
.m_box[class*="_border"]{
border:1px solid;
}
.m_box[class*="_nobg"]{
background-color:transparent;
}

.m_media{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
margin:0 0 1.5em;
}
.m_media .body > *:last-child{
margin-bottom:0 !important;
}
@media screen and (min-width: 768px){
.m_media .image{
padding:0 30px 0 0;
}
.m_media .body + .image{
-webkit-box-flex:1;
-ms-flex:1;
flex:1;
padding:0 0 0 30px;
text-align:right;
}
.m_media[class*="_flipped"]{
-webkit-box-orient:horizontal;
-webkit-box-direction:reverse;
-ms-flex-direction:row-reverse;
flex-direction:row-reverse;
}
.m_media[class*="_flipped"] .body:first-of-type{
-webkit-box-flex:1;
-ms-flex:1;
flex:1;
}
.m_media[class*="_flipped"] .image{
padding:0 0 0 30px;
}
.m_media[class*="_flipped"] .body + .image{
-webkit-box-flex:0;
-ms-flex:none;
flex:none;
padding:0 30px 0 0;
text-align:left;
}
}
@media screen and (max-width: 767px){
.m_media{
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
}
.m_media .image{
margin:0 0 30px;
text-align:center;
}
.m_media .image img{
max-width:100%;
height:auto;
}
.m_media .body{
margin:0 0 30px;
}
}
.m_media[class*="_alignTop"]{
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start;
}
.m_media[class*="_alignMiddle"]{
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
}
.m_media[class*="_alignbottom"]{
-webkit-box-align:end;
-ms-flex-align:end;
align-items:flex-end;
}

.m_column{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
margin:0 0 30px;
}
.m_column > .column > *:last-child{
margin-bottom:0 !important;
}
.m_column > .column > section > *:last-child{
margin-bottom:0 !important;
}
@media screen and (min-width: 768px){
.m_column{
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
}
.m_column[class*="_col2"] > .column{
width:calc(100% / 2 - 20px);
}
.m_column[class*="_col3"] > .column{
width:29.4%;
width:calc(100% / 3 - 20px);
}
.m_column[class*="_col4"] > .column{
width:calc(100% / 4 - 20px);
}
}
@media screen and (max-width: 767px){
.m_column:not([class*="_spCol"]){
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
}
.m_column > .column{
margin:0 0 30px;
}
.m_column[class*="_spCol"] > li{
width:calc(100% / 2 - 10px);
}
}

.m_panel{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-ms-flex-line-pack:justify;
align-content:space-between; 
-webkit-box-pack:justify; 
-ms-flex-pack:justify; 
justify-content:space-between;
margin:-20px 0;
}
.m_panel > .panel{
margin:20px 0;
}
.m_panel > .panel > *:last-child{
margin-bottom:0 !important;
}
.m_panel > .panel > section > *:last-child{
margin-bottom:0 !important;
}
.m_panel[class*="_col2"] > .panel{
width:calc(100% / 2 - 40px);
}
.m_panel[class*="_col3"] > .panel{
width:calc(100% / 3 - 40px);
}
.m_panel[class*="_col4"] > .panel{
width:calc(100% / 4 - 40px);
}

.m_slideshow{
overflow:hidden; 
position:relative;
}
.m_slideshow .slides{
position:relative; 
margin-bottom:10px;
}
.m_slideshow .slides:after{
display:block;
clear:both;
height:0;
content:".";
}
.m_slideshow .slides > li{
display:none; 
float:left;
}
.m_slideshow .slides > li:first-child{
display:block;
}
.m_slideshow .crossfade .slides > li{
float:none; 
position:absolute;
}
.m_slideshow .slideControl{
display:none;
clear:both;
}
.m_slideshow .cursor > li{
position:absolute;
top:110px;
}
.m_slideshow .cursor > li.prev{
left:0;
}
.m_slideshow .cursor > li.next{
right:0;
}
.m_slideshow .select > li{
display:inline-block; 
margin:0 2px;
}
.m_slideshow .select > li > li a{
display:block;
border:1px solid #cccccc;
padding:5px;
background:#dddddd;
text-decoration:none;
}
.m_slideshow .select > li > li.active a, .m_slideshow .select > li > li a:hover{
background:#eeeeee;
}

/* paragraph module
--------------------------------------------------------------------------------------------------- */
/* list module
--------------------------------------------------------------------------------------------------- */
.m_list > li{
display:table-row;
}
.m_list > li > *:last-child{
margin-bottom:0 !important;
}
.m_list > li:before{
display:table-cell;
content:"・";
}

.m_list[class*="_unstyled"] > li{
padding:0; 
text-indent:0;
}
.m_list[class*="_unstyled"] > li::before{
content:none;
}

.m_numberList{
counter-reset:li;
}
.m_numberList > li{
display:table-row;
}
.m_numberList > li > *:last-child{
margin-bottom:0 !important;
}
.m_numberList > li:before{
display:table-cell;
content:counter(li) ".";
counter-increment:li;
text-align:right;
}

.m_notesList > li{
display:table-row;
}
.m_notesList > li > *:last-child{
margin-bottom:0 !important;
}
.m_notesList > li::before{
display:table-cell;
content:"※";
text-align:center;
}

.m_notesList[class*="_small"] > li::before, .m_notesList > li[class*="_small"]::before{
content:"*";
}

.m_notesList[class*="_mark"] > li .mark{
display:table-cell;
text-align:right;
}

.m_notesList[class*="_mark"] > li::before{
content:none;
}

.m_linkList > li{
position:relative;
padding-left:16px;
}
.m_linkList > li > *:last-child{
margin-bottom:0 !important;
}
.m_linkList > li a::before{
display:block;
position:absolute;
top:calc(.5em);
left:0;
border:solid #000000;
border-width:4px 0 4px 12px;
border-color:transparent transparent transparent #000000;
width:0;
content:"";
line-height:1;
}

.m_imageList{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
margin:0 0 30px;
}
.m_imageList > li > *:last-child{
margin-bottom:0 !important;
}
.m_imageList > li .image img{
width:100%;
height:auto;
}
.m_imageList > li > figure > *:last-child{
margin-bottom:0 !important;
}
@media screen and (min-width: 768px){
.m_imageList[class*="_col2"] > li{
width:calc(100% / 2 - 40px);
}
.m_imageList[class*="_col2"] > li:nth-last-of-type(n+3){
margin-bottom:20px;
}
.m_imageList[class*="_col3"] > li{
width:calc(100% / 3 - 30px);
}
.m_imageList[class*="_col3"] > li:nth-last-of-type(n+4){
margin-bottom:20px;
}
.m_imageList[class*="_col4"] > li{
width:calc(100% / 4 - 20px);
}
.m_imageList[class*="_col4"] > li:nth-last-of-type(n+5){
margin-bottom:20px;
}
}
@media screen and (max-width: 767px){
.m_imageList:not([class*="_spCol"]){
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
}
.m_imageList[class*="_spCol"] > li{
width:calc(100% / 2 - 10px);
}
}

[class*="List"][class*="_horizontal"] > li{
display:inline-block;
margin-right:20px;
vertical-align:top;
}

/* table module
--------------------------------------------------------------------------------------------------- */
.m_table table{
-webkit-box-sizing:border-box;
box-sizing:border-box;
border:solid currentColor;
border-width:0 0 1px 1px;
width:100%;
}
.m_table table th, .m_table table td{
border:solid currentColor;
border-width:1px 1px 0 0;
}

.m_table[class*="_fixed"] table{
table-layout:fixed;
}

@media screen and (max-width: 767px){
.m_table{
overflow:auto;
}
.m_table table th{
white-space:nowrap;
}
}

/* navigation module
--------------------------------------------------------------------------------------------------- */
.m_button{
text-align:center;
}
.m_button a, .m_button button, .m_button input[type="button"], .m_button input[type="submit"], .m_button input[type="reset"], .m_button span{
-webkit-box-sizing:border-box;
box-sizing:border-box;
border:0;
border-radius:4px;
padding:13px 10px;
background:#004ba5;
color:#ffffff;
text-decoration:none;
}
.m_button a.is_disabled, .m_button a[disabled], .m_button button.is_disabled, .m_button button[disabled], .m_button input[type="button"].is_disabled, .m_button input[type="button"][disabled], .m_button input[type="submit"].is_disabled, .m_button input[type="submit"][disabled], .m_button input[type="reset"].is_disabled, .m_button input[type="reset"][disabled], .m_button span.is_disabled, .m_button span[disabled]{
background:#cccccc;
pointer-events:none;
}
.m_button span{
background:#c1c1c1;
}
@media screen and (min-width: 768px){
.m_button{
margin:-10px 0 30px;
}
.m_button > li{
display:inline-block;
margin:10px 5px 0; 
vertical-align:middle;
}
.m_button a, .m_button button, .m_button input[type="button"], .m_button input[type="submit"], .m_button input[type="reset"]{
display:inline-block;
min-width:300px;
vertical-align:middle;
-webkit-transition:opacity .5s ease;
transition:opacity .5s ease;
}
.m_button a:hover, .m_button button:hover, .m_button input[type="button"]:hover, .m_button input[type="submit"]:hover, .m_button input[type="reset"]:hover{
opacity:.7;
}
}
@media screen and (max-width: 767px){
.m_button{
margin:0 0 30px;
}
.m_button > li:nth-child(n+2){
margin-top:10px;
}
.m_button a, .m_button button, .m_button input[type="button"], .m_button input[type="submit"], .m_button input[type="reset"], .m_button span{
display:block;
width:100%;
}
}

.m_pager{
margin:0 0 30px;
text-align:center;
}
.m_pager > li{
display:inline-block;
-webkit-box-sizing:border-box;
box-sizing:border-box;
margin:0 5px; 
vertical-align:middle;
}
.m_pager > li:not([class]) a, .m_pager > li.is_active a{
display:block;
border:1px solid currentColor;
text-decoration:none;
}
.m_pager > li.is_active a{
border-color:#004ba5;
background:#004ba5; 
color:#ffffff;
}
.m_pager > li.first a::before{
content:"<<";
}
.m_pager > li.prev a::before{
content:"<";
}
.m_pager > li.next a::after{
content:">";
}
.m_pager > li.last a::after{
content:">>";
}
@media screen and (min-width: 768px){
.m_pager > li:not([class]) a, .m_pager > li.is_active a{
width:30px;
line-height:30px;
}
}
@media screen and (max-width: 767px){
.m_pager > li:not([class]) a, .m_pager > li.is_active a{
width:36px;
line-height:36px;
}
.m_pager > li a > span{
display:none;
}
.m_pager > li.first, .m_pager > li.last{
display:none;
}
}

/* inline module
--------------------------------------------------------------------------------------------------- */
/* anchor */
@media screen and (min-width: 768px){
.m_pcHide{
display:none !important;
}
}

@media screen and (max-width: 767px){
.m_spHide{
display:none !important;
}
}

/* modifire module
--------------------------------------------------------------------------------------------------- */
/* text align */
[class*="_alignLeft"]{
text-align:left !important;
}

[class*="_alignCenter"]{
text-align:center !important;
}

[class*="_alignRight"]{
text-align:right !important;
}

[class*="_alignTop"]{
vertical-align:top !important;
}

[class*="_alignMiddle"]{
vertical-align:middle !important;
}

[class*="_alignBottom"]{
vertical-align:bottom !important;
}

/* font style */
[class*="_fontBold"]{
font-weight:bold;
}

[class*="_fontItalic"]{
font-style:italic;
}

[class*="_fontNormal"]{
font-weight:normal !important; 
font-style:normal !important;
}

/* fontColor */
[class*="_colorType01"]{
color:#000000;
}

[class*="_colorType02"]{
color:#004ba5;
}

/* block width */
[class*="_width0Per"]{
width:0 !important;
}

[class*="_width1Per"]{
width:1% !important;
}

[class*="_width2Per"]{
width:2% !important;
}

[class*="_width3Per"]{
width:3% !important;
}

[class*="_width4Per"]{
width:4% !important;
}

[class*="_width5Per"]{
width:5% !important;
}

[class*="_width6Per"]{
width:6% !important;
}

[class*="_width7Per"]{
width:7% !important;
}

[class*="_width8Per"]{
width:8% !important;
}

[class*="_width9Per"]{
width:9% !important;
}

[class*="_width10Per"]{
width:10% !important;
}

[class*="_width11Per"]{
width:11% !important;
}

[class*="_width12Per"]{
width:12% !important;
}

[class*="_width13Per"]{
width:13% !important;
}

[class*="_width14Per"]{
width:14% !important;
}

[class*="_width15Per"]{
width:15% !important;
}

[class*="_width16Per"]{
width:16% !important;
}

[class*="_width17Per"]{
width:17% !important;
}

[class*="_width18Per"]{
width:18% !important;
}

[class*="_width19Per"]{
width:19% !important;
}

[class*="_width20Per"]{
width:20% !important;
}

[class*="_width21Per"]{
width:21% !important;
}

[class*="_width22Per"]{
width:22% !important;
}

[class*="_width23Per"]{
width:23% !important;
}

[class*="_width24Per"]{
width:24% !important;
}

[class*="_width25Per"]{
width:25% !important;
}

[class*="_width26Per"]{
width:26% !important;
}

[class*="_width27Per"]{
width:27% !important;
}

[class*="_width28Per"]{
width:28% !important;
}

[class*="_width29Per"]{
width:29% !important;
}

[class*="_width30Per"]{
width:30% !important;
}

[class*="_width31Per"]{
width:31% !important;
}

[class*="_width32Per"]{
width:32% !important;
}

[class*="_width33Per"]{
width:33% !important;
}

[class*="_width34Per"]{
width:34% !important;
}

[class*="_width35Per"]{
width:35% !important;
}

[class*="_width36Per"]{
width:36% !important;
}

[class*="_width37Per"]{
width:37% !important;
}

[class*="_width38Per"]{
width:38% !important;
}

[class*="_width39Per"]{
width:39% !important;
}

[class*="_width40Per"]{
width:40% !important;
}

[class*="_width41Per"]{
width:41% !important;
}

[class*="_width42Per"]{
width:42% !important;
}

[class*="_width43Per"]{
width:43% !important;
}

[class*="_width44Per"]{
width:44% !important;
}

[class*="_width45Per"]{
width:45% !important;
}

[class*="_width46Per"]{
width:46% !important;
}

[class*="_width47Per"]{
width:47% !important;
}

[class*="_width48Per"]{
width:48% !important;
}

[class*="_width49Per"]{
width:49% !important;
}

[class*="_width50Per"]{
width:50% !important;
}

[class*="_width51Per"]{
width:51% !important;
}

[class*="_width52Per"]{
width:52% !important;
}

[class*="_width53Per"]{
width:53% !important;
}

[class*="_width54Per"]{
width:54% !important;
}

[class*="_width55Per"]{
width:55% !important;
}

[class*="_width56Per"]{
width:56% !important;
}

[class*="_width57Per"]{
width:57% !important;
}

[class*="_width58Per"]{
width:58% !important;
}

[class*="_width59Per"]{
width:59% !important;
}

[class*="_width60Per"]{
width:60% !important;
}

[class*="_width61Per"]{
width:61% !important;
}

[class*="_width62Per"]{
width:62% !important;
}

[class*="_width63Per"]{
width:63% !important;
}

[class*="_width64Per"]{
width:64% !important;
}

[class*="_width65Per"]{
width:65% !important;
}

[class*="_width66Per"]{
width:66% !important;
}

[class*="_width67Per"]{
width:67% !important;
}

[class*="_width68Per"]{
width:68% !important;
}

[class*="_width69Per"]{
width:69% !important;
}

[class*="_width70Per"]{
width:70% !important;
}

[class*="_width71Per"]{
width:71% !important;
}

[class*="_width72Per"]{
width:72% !important;
}

[class*="_width73Per"]{
width:73% !important;
}

[class*="_width74Per"]{
width:74% !important;
}

[class*="_width75Per"]{
width:75% !important;
}

[class*="_width76Per"]{
width:76% !important;
}

[class*="_width77Per"]{
width:77% !important;
}

[class*="_width78Per"]{
width:78% !important;
}

[class*="_width79Per"]{
width:79% !important;
}

[class*="_width80Per"]{
width:80% !important;
}

[class*="_width81Per"]{
width:81% !important;
}

[class*="_width82Per"]{
width:82% !important;
}

[class*="_width83Per"]{
width:83% !important;
}

[class*="_width84Per"]{
width:84% !important;
}

[class*="_width85Per"]{
width:85% !important;
}

[class*="_width86Per"]{
width:86% !important;
}

[class*="_width87Per"]{
width:87% !important;
}

[class*="_width88Per"]{
width:88% !important;
}

[class*="_width89Per"]{
width:89% !important;
}

[class*="_width90Per"]{
width:90% !important;
}

[class*="_width91Per"]{
width:91% !important;
}

[class*="_width92Per"]{
width:92% !important;
}

[class*="_width93Per"]{
width:93% !important;
}

[class*="_width94Per"]{
width:94% !important;
}

[class*="_width95Per"]{
width:95% !important;
}

[class*="_width96Per"]{
width:96% !important;
}

[class*="_width97Per"]{
width:97% !important;
}

[class*="_width98Per"]{
width:98% !important;
}

[class*="_width99Per"]{
width:99% !important;
}

[class*="_width100Per"]{
width:100% !important;
}

/* ※※ module
--------------------------------------------------------------------------------------------------- */
/*====================================================================================================

    unique

====================================================================================================*/
/* ※※
--------------------------------------------------------------------------------------------------- */