@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2015/01/23
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================
.m_pageTitle {}

.m_textHeading {
    margin: 0 0 30px;

    @media screen and (min-width: $rwdBreakPoint01) {
        @include fts(18);
    }

    @media screen and (max-width: $rwdBreakPoint01 - 1) {
    }

}

.m_imageHeading {
    margin: 0 0 30px;

    @media screen and (min-width: $rwdBreakPoint01) {
    }

    @media screen and (max-width: $rwdBreakPoint01 - 1) {
        img{
            max-width: 100%;
            height: auto;
        }
    }
}
