@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2015/01/23
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

/* anchor */

.m_pdf {}

.m_blank {}

@media screen and (min-width: $rwdBreakPoint01) {
    .m_pcHide {
        display: none !important;
    }
}

@media screen and (max-width: $rwdBreakPoint01 - 1) {
    .m_spHide {
        display: none !important;
    }
}
