@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2015/01/23
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================
.m_list {
    & > li {
        display: table-row;
        @include lastElement;
        &:before {
            display: table-cell;
            content: "・";
        }
    }
    &[class*="_unstyled"] > li {
        text-indent: 0;
        padding: 0;
        &::before {
            content: none;
        }
    }
}

.m_numberList {
    counter-reset: li;
    & > li {
        display: table-row;
        @include lastElement;
        &:before {
            display: table-cell;
            content: counter(li)".";
            counter-increment: li;
            text-align: right;
        }
    }
}

.m_notesList {
    & > li {
        display: table-row;
        @include lastElement;
        &::before {
            display: table-cell;
            content: "※";
            text-align: center;
        }
    }
    &[class*="_small"] > li::before,
    & > li[class*="_small"]::before {
        content: "*";
    }
    &[class*="_mark"] > li {
        .mark {
            display: table-cell;
            text-align: right;
        }
        &::before {
            content: none;
        }
    }
}

.m_linkList {
    & > li {
        position: relative;
        padding-left: 16px;
        @include lastElement;
        a::before {
            position: absolute;
            top: calc(0.5em);
            left: 0;
            @include triangle(right, #000000, 12px, 8px);
        }
    }
}

.m_imageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 30px;
    & > li {
        @include lastElement;
        .image img {
            width: 100%;
            height: auto;
        }
        & > figure{
            @include lastElement;
        }
    }

    @media screen and (min-width: $rwdBreakPoint01) {
        $marginBottom: 20px;
        &[class*="_col2"] > li {
            width: calc(100% / 2 - 40px);
            &:nth-last-of-type(n+3){
                margin-bottom: $marginBottom;
            }
        }
        &[class*="_col3"] > li {
            width: calc(100% / 3 - 30px);
            &:nth-last-of-type(n+4){
                margin-bottom: $marginBottom;
            }
        }
        &[class*="_col4"] > li {
            width: calc(100% / 4 - 20px);
            &:nth-last-of-type(n+5){
                margin-bottom: $marginBottom;
            }
        }
    }

    @media screen and (max-width: $rwdBreakPoint01 - 1) {
        &:not([class*="_spCol"]) {
            flex-direction: column;
        }
        &[class*="_spCol"] > li {
            width: calc(100% / 2 - 10px);
        }
    }
}

[class*="List"][class*="_horizontal"] > li {
    margin-right: 20px;
    @include iblock(top);
}
