@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2015/01/23
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================
.m_section {
    position: relative;
    padding: 50px 0;
    &[class*="_border"]::before{
        @include createContent(null, 0, null, 0);
        z-index: -1;
    }
    &[class*="_borderTop"]::before{
        top: 0;
        border-top: 1px solid;
    }
    &[class*="_borderBottom"]::before{
        bottom: 0;
        border-bottom: 1px solid;
    }
    &[class*="_fullBg"]::before{
        @include createContent(0, -1000%, 0,  -1000%);
        z-index: -1;
    }
}

